table {
    border-style: solid;
    border-color: grey;
  }
  input[type="button"] {
    padding: 10% 20%;
    width: 100%;
    border-style: solid;
    border-color: black;
    padding: 40px 64px;
  }
  
  input[type="text"] {
      padding: 30px 30px;
      width: 85%;
      font-size: xx-large;
      border: solid black 2px;
  }